<html>
<head>
<title> welcom to admin page </title>
</head>
<body bgcolor="yellow" text='blue'>
<center> <h1> <font face='arial'> <font size='4'><font color='red'> welcome to admin page <br> </h1> </font> </font> </center>
<hr>
<hr>
                    <br>
                    <br>
<center><a href='/surs=7854hggfcw482481r9rg2f0tg4998tg989__password__changer'>
          <input type='submit' name='change_password' value="change the password"></ceneter>
                     <br>
                     <br>
<center><a href='/surs=byd57648hb84bbc834ndsg__add__film'>
          <input type='submit' name='add_filme' value="         add the filme          "> </ceneter></a>
                     <br>
                     <br>
    <center><a href='/home'>
              <input type='submit' name='log_out' value="                   log out              "><br></a></center>  
<p>
vsitor to day :{{count}}<br>
</p>
          <br>
          <br> 
          <hr>
<hr>
</body>  
</html>
   
 
