 
<html>
<head>
<title> beekeeper</title>
</head>
<body bgcolor="black" text="white">
<center>
<font face="andalus"> <font color="red"><font color="blue"> <font size="5"> <h1> filme: beekeeper<br> </h1> </font> </font> </font>
</center>
<br>
<br><center>
<img src="{{url_for('static' , filename='img/beekeeper.jpg')}}" width="300" height="350"><p align="center">categorie : action <br> annee  : 2017 <br></p><center></center>
<center>
<a href="https://server1.iwaatch.com/The_Beekeeper/movie_1080.mp4/eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ2YWxpZGF0ZSIsInN1YiI6IjEyOS40NS42Ni4xNjkifQ.WOVlJFzpzX60XDYZuK873H6bB9sSSJZ7da-1X6f-MCIeWr2WzF4J5LFmKqoENoNaka211zALfEugsoMdLwoSDQ">
  <img src="{{url_for('static' , filename='img/t.jpeg')}}" width="200" height="100" align="center">
</a>
<a href="https://iwaatch.com/view/The_Beekeeper">
  <img src="{{url_for('static' , filename='img/v.jpeg')}}" width="200" height="100" height="100" align="center">
</a></center>
</body>
</html>
                              
                              
