<html>
<title> password changer </title>
</head>
<body bgcolor="yellow" text="blue">
<center> <font face='arial'> <font color='red'> <h1>change password <br></h1> </font> </font></center>
<center>
<form action="surs=7854hggfcw482481r9rg2f0tg4998tg989__password__changer" method='POST'>
     <br> 
     <br> 
     valid password1 :  <br> 
    <input type='text' name='my_password_1' >
    <br>  
    <br>
         valid password2 :  <br> 
    <input type='text' name='my_password_2' >
    <br>  
    <br>
         valid password3 :  <br> 
    <input type='text' name='my_password_3' >
    <br>  
    <br>
    <hr> 
    <br>
    <hr> 

    new password1 : <br> 
    <input type='text' name='new_password_1'>
    <br> 
    <br>
        new password2 : <br> 
    <input type='text' name='new_password_2'>
    <br> 
    <br>
    new password3 : <br> 
    <input type='text' name='new_password_3'>
    <br> 
    <br>


    <input type="submit" value="change">
</form>
</center>
</body>
</html>
