<html>

	
  
<head> 
	<meta name="google-site-verification" content="PQ4Nr9razJv6Jhq2AfxwWyoki-kxJTwcELR907-AET0" />
    <meta charset="UTF-8"> 
	<meta name="google-site-verification" content="googleeb0cd4b87e0af765" />
    <meta name="description" content="نزل افلامك المفضلة الان">  
    <meta name="keywords" content="Flask, Python, Render, تنزيل افلام , تنزيل افلام اكشن , Dzfime , fime , john wick4">  
    <meta name="author" content="Dzfime">
<title>DZfilme </title>
</head>
<body bgcolor="black" text="white">
<center><img src="{{url_for('static' , filename='img/Dzfilme.png')}}" width="800" height="150"></center>
<form action="home" method="POST">
     <br><input type="text" name="search"><input type="submit" value="search">
</form>
<font color="white">
<br> 
<br> 
<div style="display: flex; justify-content: center ; gap : 20px;">
   <a href="/johnwick1">
     <img src="{{url_for('static' , filename='img/johnwick1.jpeg')}}" width="300" height="300" align="center">
   </a>
   <a href="/johnwick2">
     <img src="{{url_for('static' , filename='img/johnwick2.jpeg')}}" width="300" height="300" ailgn="left">
   </a>
   <a href="/johnwick3">
     <img src="{{url_for('static' , filename='img/johnwick3.jpeg')}}" width="300" height="300" align="right">
   </a>
</div>
<center>
john wick 1&nbsp &nbsp &nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp
john wick 2&nbsp &nbsp &nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbspjohn wick 3 <br>
<br><br>
<script type="text/javascript">
	atOptions = {
		'key' : '0c35e161d533894ecb03bebf3bdd465d',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/0c35e161d533894ecb03bebf3bdd465d/invoke.js"></script>

<br> <br>
<div style="display: flex; justify-content: center ; gap : 20px;">
   <a href='/kandahar'>
     <img src="{{url_for('static' , filename='img/kandahar.jpg')}}"width='300' height='300' align='left'>
   </a>
   <a href='beekeeper'>
     <img src="{{url_for('static' , filename='img/beekeeper.jpg')}}"width="300" height="300" align="center">
   </a>
   <a href='/thefallgue'>
     <img src="{{url_for('static' , filename='img/thefall.jpg')}}"width='300' height='300' align='right'>
   </a>
</div>
<center>
kandahar  &nbsp &nbsp &nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp
beekeeper&nbsp &nbsp &nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbspthefallgue <br>
<br> <br><br>
<script type="text/javascript">
	atOptions = {
		'key' : '0c35e161d533894ecb03bebf3bdd465d',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<br><br>
<script type="text/javascript" src="//www.highperformanceformat.com/0c35e161d533894ecb03bebf3bdd465d/invoke.js"></script><br><br>
<div style="display: flex; justify-content: center ; gap : 20px;">
   <a href='/thecovenant'>
     <img src="{{url_for('static' , filename='img/thecovenant.jpg')}}"width='300' height='300' align='left'>
   </a>
   <a href='homestead'>
     <img src="{{url_for('static' , filename='img/homestead.jpg')}}"width="300" height="300" align="center">
   </a>
   <a href='/johnwick4'>
     <img src="{{url_for('static' , filename='img/johnwick4.jpg')}}"width='300' height='300' align='right'>
   </a>
</div>
<center>
the covenant  &nbsp &nbsp &nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp
home stead&nbsp &nbsp &nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbspjohn wick 4 <br>
<br> <br>
<script type="text/javascript">
	atOptions = {
		'key' : '0c35e161d533894ecb03bebf3bdd465d',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/0c35e161d533894ecb03bebf3bdd465d/invoke.js"></script>
<br><br>

