<html>
<head>
<title> john wick 3 </title>
</head>
<body bgcolor="black" text="white">
<center> <h1> <font face="andlus"> <font color="blue"> <font size="6"> filme : john wick 3 </font> </font> </h1> </center> 
<br>
<br>
<center>
<img src="{{url_for('static' , filename='img/johnwick3.jpeg')}}" width="300" height="350" align="center"><p align="center"> categorie : action <br> annee  : 2019 <br></p><center>

<center>
<a href="https://server1.iwaatch.com/John_Wick_Chapter3_Parabellum/movie_1080.mp4/eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ2YWxpZGF0ZSIsInN1YiI6IjEyOS40NS4yOC41OSJ9.CQkieeN7Vl5oq_U3xODoOhuUgyxwJnb9MKxociFH6LXBeEcHAzNyyWcM0Zlpr3H-RFRPukO0S4QYZXyklGHgyA">
<img src="{{url_for('static' , filename='img/t.jpeg')}}" width="200" height="100" align="center">
</a>
<a href="https://iwaatch.com/view/john_wick_1">
<img src="{{url_for('static' , filename='img/v.jpeg')}}" width="200" height="100" align="center">
</a>
</center>
</body>
</html>
