<html>
<head>
<title> login page </title>
</head>
<body bgcolor="yellow" text="blue">
<center> <font face='arial'> <font color="red"> <font size="5"><h1> login page <br> </h1> </font> </font> </font> </center>
<form action="surs=byd57648hb84bbc834ndsg__add__film" method='POST'>
     <center>
     <br>
     <br>
     username :<br>
     <input type="text" name="USER">
     <br>
     <br>
     password : <br>
     <input type='password' name="PASS">
     <br>
     <br>
     <input type="submit" name="login" value='login'>
</form>
</body>
</html>
