<html>
<head>
<title> main page </title>
</title>
</head>
<body bgcolor='black' text='blue'>

<br>
<br>
<form action="adminlogin" method="POST">
    <center>
     username : <br>
    <input type='text' name="username">
    <br> 
    password 1 : <br>
    <input type='password' name="password_one">
    <br>
    password 2 : <br>
   <input type='password' name="password_two">
   <br>
    password 3 : <br>
   <input type='password' name="password_three">
   <br>
   </center>
   <br>
   <br>
   <center><input type="submit" name="login" value='login' ></center>
</form>
</body>
</html> 

